@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

body {
    font-family: Quicksand, serif;
    margin: 0;
    padding: 0;
    background-color: #353d34;
}

html,
body {
    height: 100%;

}

.nav-link {
    color: #ada99e;
    font-size: 20px;
}

.navbar-brand img {
    height: 50px;
    width: 50px;
}

.navbar-nav .nav-link.active {
    color: #ada99e;
    font-size: 20px;
}

.navbar-toggler {
    background-color: #353d34;
}


.card {
    height: 400px;
    border-width: 1px;
    background-color: #ada99e;
    border-color: #353d34;
    box-shadow: 5px 4px 16px 1px #272626;
}

.card img {
    height: 300px;
    object-fit: cover;
}

.card-text {
    padding: 1px;
    font-size: 15px;
}

.main-row {
    background-color: #ada99e;
    text-align: center;
}

.main-row a {
    text-decoration: none;
    color: #353d34;
}

.box {
    box-shadow: 5px 4px 16px 1px #272626;

}

.easy-zoom-effect {
    transition: transform 1s ease;
}

.easy-zoom-effect:hover {
    transform: scale(1.25);
    color: #2a3029;
}

.footer {
    background-color: #ada99e;
    margin: 7em;
    color: black;
    
}

.icons {
    display: flex;
    justify-content: center;
}

.icons img {
    height: 40px;
    width: 40px;
    margin: 4px;
    margin-top: 10px;

}


.sidebar {
    font-size: 20px;
}

.callanim {
    animation: Call 2s ease 0s infinite normal forwards;
}

@keyframes Call {

    0%,
    100% {
        transform: translateX(0%);
        transform-origin: 50% 50%;
    }

    15% {
        transform: translateX(-30px) rotate(-6deg);
    }

    30% {
        transform: translateX(15px) rotate(6deg);
    }

    45% {
        transform: translateX(-15px) rotate(-3.6deg);
    }

    60% {
        transform: translateX(9px) rotate(2.4deg);
    }

    75% {
        transform: translateX(-6px) rotate(-1.2deg);
    }
}